table {
    table-layout: fixed;
    text-align: center;
    height: 500px;
    width: 80%;
}

input {
    width: 70px;
    text-align: center;
}

#isChecked:checked + div{
    display:none;
    
   }

#div01{
    text-align: center;
}
